.about-us__header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.arrow-1 {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px;
}
.arrow-1 div {
    position: relative;
    top: 20px;
    width: 90px;
    height: 6px;
    background-color: #ffffff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    left:0;
    display: block;
}
.arrow-1 div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    top: -12px;
    right: 60px;
    background-color: #ffffff;
    border-radius: 5px;
    transform: rotate(135deg);
}
.arrow-1 div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    top: 12px;
    right: 60px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-135deg);
}

.about-us__header-container {
    max-width: 1400px;
    width: 100%;
    color: white;
    font-size: 32px;
    font-family: "Orbitron", sans-serif;
    display: flex;
    align-items: center;
}

.about-us__header-container a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us {
    display: flex;
    justify-content: center;
    background: url("../assets/about-us/bg.png") no-repeat;
}

.about-us__container {
    max-width: 1400px;
    width: 100%;
}

.about-us__title {
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 75px;
    line-height: 44px;
    letter-spacing: -1.2px;
    text-align: center;
}

.list-participants {
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
}

.first-participants {
    min-height: 460px;
    background: url("../assets/about-us/first-participants-bg.svg") no-repeat;
    background-position-y: 58px;
}

.mid-participants {
    position: relative;
    border-left: 3px white solid;
    border-right: 3px white solid;
}


.last-participants {
    min-height: 475px;
    background: url("../assets/about-us/last-participants-bg.svg") no-repeat;
    padding: 50px 200px;
}

.participant {
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.participant__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../assets/about-us/avatar-bg.svg") no-repeat;
    width: 192px;
    height: 192px
}

.participant__info {
    color: white;
    text-align: center;
    margin-top: 15px;
}

.participant__name {
    position: relative;
    font-size: 32px;
}

.participant__name::after {
    position: absolute;
    bottom: -25%;
    left: 0;
    height: 4px;
    width: 100%;
    content: "";
    background: url("../assets/about-us/after-name-line.svg") no-repeat;
    background-size: auto 100%;
}

.participant__role {
    margin-top: 20px;
    font-size: 29px;
}

.participant__desc {
    margin-top: 10px;
    color: #868686;

}

.partners {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    flex-direction: column;
    align-items: center;
}

.partners__title {
    font-family: "Orbitron", sans-serif;
    font-size: 74px;
    color: white;
    line-height: 44px;
}

.partners__holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
}

.partner {
    width: 250px;
    height: auto;
}

.partner img {
    width: 100%;
}

@media (max-width: 768px) {
    .team-container {
        padding: 0 20px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .list-participants {
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        padding: 31px 18px;
        margin: 0 -7px;
    }
    .first-participants {
        background: url("../assets/about-us/top-mobile-bg-2.svg") no-repeat center top;
        background-size: 100%;
    }

    .mid-participants {
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
        border-left: 3px #8a8a8a solid;
        border-right: 3px #8a8a8a solid;
    }

    .mid-participants::after {
        position: absolute;
        background: url("../assets/about-us/mid-mobile-bg.svg") no-repeat;
        height: 700px;
        z-index: -1;
        background-size: 100%;
    }
    .last-participants {
        background: url("../assets/about-us/bottom-mobile-bg.svg") no-repeat;
        background-size: 100%;
        background-position-y: bottom;
        padding: 0 40px;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .partners__holder {
        max-width: 700px;
        justify-content: space-around;
        row-gap: 100px;
    }
}