.first-block {
    background-size: 100%;
    background: url("../assets/first-block/first-blokc-bg.png") no-repeat center;
    background-size: cover;
    height: 800px;
    padding-top: 80px;
    margin: 0 calc(40 / 1920 * 100%);
}

.first-block-container {
    display: flex;
    justify-content: center;
    width: calc(1466 / 1840 * 100%);
    column-gap: calc(30 / 1840 * 100%);
    margin: 0 calc((157 + 30) / 1840 * 100%);
}

.first-block-container__left-block {
    max-width: calc(4 * var(--width) + 3 * var(--gutter) / 1840 * 100%);
    width: 100%;
}

.first-block-container__right-block {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: calc(4 * var(--width) + 3 * var(--gutter) / 1840 * 100%);
    width: 100%;
}

.first-block-video-pc {
    width: 100%;
}

.first-block-container-title-block {
    position: relative;
    width: 100%;
}

.first-block-container-title-block__main-title {
    background: linear-gradient(84.07deg, #A5782B -18.51%, #C99738 4.32%, #F4D362 23.46%, #FCF8B8 58.64%, #E3C56D 88.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Orbitron, sans-serif;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -1.7999999523162842px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
}

.first-block-container-title-block__sub-title {
    font-family: Orbitron, sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -1.7999999523162842px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    position: relative;
    white-space: nowrap;
}

.first-block-container-title-block__sub-title::after {
    content: url("../assets/first-block/title-box.svg");
    position: absolute;
    left: -80px;
}

.first-block-container-title-block::after {
    position: absolute;
    left: -60px;
    bottom: 9px;
    content: url("../assets/first-block/title-logo.svg");
}

.first-block-container-about-block {

}

.first-block-container__pretitle {
    position: relative;
    color: white;
    font-size: 12px;
}

.first-block-container__pretitle::after {
    left: 0;
    top: 20px;
    position: absolute;
    content: url("../assets/first-block/title-line.svg");
    width: 100%;
    height: auto;
}

.first-block-container-about-block__button-holder {
    max-width: calc(4 * var(--width) + 3 * var(--gutter) / 1840 * 100%);
    display: flex;
    column-gap: var(--gutter);
    margin-left: calc( 1 * var(--width) + 1 * var(--gutter) / 1840 * 100%);
}

.first-block-container-about-block__buttons {
    display: block;
    max-width: calc(2 * var(--width) + 1 * var(--gutter) / 1840 * 100%);
    width: 100%;
    height: 53px;
    border-radius: 10px;
    background: linear-gradient(91.53deg, #A5782B -9.18%, #F4D362 32.46%, #E3C56D 97.37%);
}

.first-block-container-about-block__buttons button {
    background: none;
    padding: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .first-block {
        background: none;
    }

    .first-block-container {
        flex-wrap: wrap;
        margin-top: 150px;
    }

    .first-block-container-about-block__buttons {
        width: 136px;
        height: 32px;
    }


    .first-block-container-title-block {

    }

    .first-block-container-title-block__main-title {
        font-size: 29px;

    }

    .first-block-container-title-block__sub-title {
        font-size: 29px;
    }

    .first-block-container-about-block__button-holder {
        transform: scale(0.85);
    }
}