.first-block {
    background: url("../assets/first-block/first-blokc-bg.png") no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;

    align-items: stretch;
    padding-top: 80px;
    margin-top: -80px;
}

.first-block-container {
    width: 80%;
    display: flex;
    justify-content: center;
}

.first-block-container__left-block {
    max-width: 400px;
    min-width: 400px;
}

.first-block-container__right-block {

}

.first-block-video-on-phone-container {
    display: none;
}

.first-block-video-phone {
    width: inherit;
}

.first-block-video-pc {
    max-width: 690px;
    width: auto;
}

.first-block-container-title-block {
    position: relative;
    max-width: 350px;
}

.first-block-container-title-block__main-title {
    background: linear-gradient(84.07deg, #A5782B -18.51%, #C99738 4.32%, #F4D362 23.46%, #FCF8B8 58.64%, #E3C56D 88.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Orbitron, sans-serif;
    font-size: 48px;
    font-weight: 700;

    letter-spacing: -1.7999999523162842px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
}

.first-block-container-title-block__sub-title {
    font-family: Orbitron, sans-serif;
    font-size: 48px;
    font-weight: 700;

    letter-spacing: -1.7999999523162842px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    position: relative;
}

.first-block-container-title-block__sub-title::after {
    content: url("../assets/first-block/title-box.svg");
    position: absolute;
    left: -80px;
}

.first-block-container-title-block::after {
    position: absolute;
    left: -60px;
    bottom: 9px;
    content: url("../assets/first-block/title-logo.svg");
}

.first-block-container-about-block {
    max-width: 504px;
}

.first-block-container__pretitle {
    position: relative;
    color: white;
    font-size: 12px;
}

.first-block-container__pretitle::after {
    left: 0;
    top: 20px;
    position: absolute;
    content: url("../assets/first-block/title-line.svg");
    width: 100%;
    height: auto;
}

.first-block-container-about-block__button-holder {

}

.first-block-container-about-block__buttons {
    width: 222px;
    height: 53px;
    border-radius: 10px;
    background: linear-gradient(91.53deg, #A5782B -9.18%, #F4D362 32.46%, #E3C56D 97.37%);
}

@media (max-width: 768px) {
    .first-block {
        background: none;
    }

    .first-block-container {
        flex-wrap: wrap;

    }

    .first-block-container-about-block {
        display: none;
    }

    .first-block-container-title-block__main-title {
        font-size: 30px;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .first-block-container-title-block__sub-title {
        font-size: 30px;
        margin-bottom: 0;
    }

    .first-block-container__pretitle::after {
        transform: scale(0.85);
        left: -15px
    }

    /* Блок после SUPERAPP */
    .first-block-container-title-block__sub-title::after {
        transform: scale(0.60, 0.55);
        left: -125px;
        top: 25px;
    }

    /* Блок после the future is here */
    .first-block-container__pretitle::after {
        transform: scale(0.56, 0.5);
        top: -35px;
    }

    /* Лого */
    .first-block-container-title-block::after {
        transform: scale(0.65);
        bottom: -3px;
        left: -40px;
    }

    .first-block-container-about-block__buttons {
        width: 136px;
        height: 32px;
    }


    .first-block-video-on-phone-container {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 288px;
    }

    .first-block-container-title-block {
        max-width: 240px;
        margin-left: 50px;
    }

    .first-block-container-about-block__button-holder {
        display: none;
    }
}