.fourth-block {
    display: flex;
    justify-content: center;
    min-height: 740px;
    margin-bottom: 100px;
    margin-top: 200px;
}

.fourth-block-container {
    background: url("../assets/fourth-block/bg.svg") no-repeat;
    max-width: 1400px;
    width: 100%;
    display: flex;
    position: relative;
}

.fourth-block-container object {
    position: absolute;
    width: auto;
}

.fourth-block-container__circle {
    right: 60px;
    top: 40px;
}

.fourth-block-container__cube {
    right: 25px;
    top: 220px;
}

.fourth-block-container__join_us {
    display: flex;
    flex-direction: column;
    max-width: 606px;
    width: 100%;
    height: 500px;
}

.join-us__title_holder {
    background: url("../assets/fourth-block/title-bg.svg") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.join-us__title {
    background: linear-gradient(84.07deg, #A5782B -18.51%, #C99738 4.32%, #F4D362 23.46%, #FCF8B8 58.64%, #E3C56D 88.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Orbitron, sans-serif;
    margin-top: 13px;
    font-size: 83px;
    font-weight: 700;
    line-height: 104px;
    letter-spacing: -1.2000000476837158px;
    text-align: left;
    width: 476px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.join-us__info {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.join-us__info::after {
    content: url("../assets/fourth-block/after-info.svg");
    position: absolute;
    bottom: -102px;
    left: 120px;
}

.join-us__subscribe {
    max-width: 478px;
}

.join-us__subtitle {
    font-family: Orbitron, sans-serif;
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1.2000000476837158px;
    text-align: left;
    margin-bottom: 0;
}

.join-us__desc {
    font-family: "Proxima Nova", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    margin-top: 10px;
}

.join-us__input {
    display: block;
    width: 100%;
    height: 53px;
    margin-bottom: 20px;
    border: 1px white solid;
    border-radius: 5px;
}

.join-us__input input {
    width: 100%;
    height: 100%;
    background: #212121;
    border: none;
    padding-left: 15px;
    color: white;
    border-radius: 5px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;

}

.join-us__input input:focus {
    outline: none;
}

.join-us__checkbox input {
    margin-left: 0;
    background: none;
}

.checkmark {

}

.terms-link {
    color: #F4D362;
}

.fourth-block__links {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.fourth-block__links-container {
    max-width: 206px;
    width: 100%;
    margin-right: 110px;
}

.fourth-block__links-title {
    font-family: "Orbitron", sans-serif;
    font-size: 16px;
    color: white;
    width: 100%;
    text-align: justify;
    letter-spacing: -1.2000000476837158px;

}

.fourth-block__button-holder {
    display: flex;
    justify-content: space-between;
}

.fourth-block__button {
    max-height: 50px;
    border: 1px white solid;
    border-radius: 5px;
}

.fourth-block__button button {
    padding: 10px;
    height: 100%;
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
}

.fourth-block__button img {
    height: auto;
}

.fourth-block-container__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fourth-block-container__image-holder {

}

.fourth-block-container__image-holder img {
    max-height: 585px;
    width: 100%;
}

@media (max-width: 768px) {
    .fourth-block-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: none;
        gap: 250px;
    }

    .join-us__title_holder {
        background: url("../assets/fourth-block/title-bg-s.svg") no-repeat;
        background-size: 100%;
    }

    .fourth-block-container__join_us {
        transform: scale(1.2);
        height: auto;
    }

    .join-us__info {
        background: url("../assets/fourth-block/join-us-bg-s.svg") no-repeat;
        background-size: 100%;
        height: 440px;
    }

    .join-us__info::after {
        bottom: -32px;
        left: 193px;
    }

    .join-us__subscribe {

    }

    .fourth-block__links {
        transform: scale(2);
        margin-top: 80px;
    }

    .fourth-block__links-title {
        margin-top: 10px;
    }

    .fourth-block__links-container {
        margin-right: 0;
    }

    .fourth-block-container__image-holder img {
        max-height:800px;
        height: 100%;
        width: 700px;
    }

    .fourth-block-container__circle {
        display: none;
    }

    .fourth-block-container__cube {
        top: 345px;
        right: 10px;
    }
}