.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-button {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 5px;
}

.header-menu-button__line {
    display: block;
    width: 24px;
    height: 2px;
    margin: 5px 0;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.header-menu {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.header-nav-menu__element {
    text-decoration: none;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 700;
}

.header-nav-menu__element--outline {
    color: #F4D362;
    border-radius: 10px;
    padding: 8px 21px;
    border: 1px solid;
}


.header-container__logo {
    height: 27px;
    width: 37px;
}

.header-nav-menu.active {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.header-nav-menu.active ul {
    list-style: none;
    padding: 0;
}

.header-nav-menu.active a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}


@media (max-width: 768px) {
    .header {
        height: 65px;
    }
    .header-menu-button {
        display: block;
        border: white 0.5px solid;
        border-radius: 5px;
    }
    .header-nav-menu {
        display: none; /* Скрытие меню на мобильных устройствах */
    }
    .header-nav-menu.active {
        display: block;
        /* Дополнительные стили для активного меню */
    }
}