.header {
    position: sticky;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    margin: 0 auto;
}

.header-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-button {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 5px;

}

.header-menu-button__line {
    display: block;
    width: 24px;
    height: 2px;
    margin: 3px 0;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.header-menu {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.header-nav-menu__element {
    text-decoration: none;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 700;
}

.header-nav-menu__element--outline {
    color: #F4D362;
    border-radius: 10px;
    padding: 8px 21px;
    border: 1px solid;
}


.header-container__logo {
    height: 27px;
    width: 37px;
}

.header-nav-menu.active {
    display: block;
}

.header-nav-menu.active ul {
    list-style: none;
    padding: 0;
}

.header-nav-menu.active a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.nav-menu {
    display: none;
    width: 100%;
    max-width: 768px;
}

.nav-menu__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 370px;
    justify-content: space-between;
    margin-top: 50px;
}

.nav-menu__element {
    font-size: 68px;
    font-family: "Orbitron", sans-serif;
    line-height: 39px;
    font-weight: bold;
    color: white;
}

.nav-menu__list li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu__list li:not(:last-child)::after {
    content: "";
    background: url("../assets/nav-menu-line.svg") no-repeat center;
    height: 10px;
    width: 500px;
    background-size: 100%;
    display: inline-block;
    position: absolute;
    top: 100px;
}

.nav-menu__title {
    font-size: 40px;
    font-family: "Orbitron", sans-serif;
    background: linear-gradient(84.07deg, #A5782B -18.51%, #C99738 4.32%, #F4D362 23.46%, #FCF8B8 58.64%, #E3C56D 88.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    letter-spacing: -1.8px;
    margin-left: 20px;
}

.nav-menu__container {
    margin-top: 20px;
    position: relative;
}

.nav-menu__star {
    position: absolute;
    right: 60px;
    top: 97px;
}

#our_vision {
    margin-top: 50px;
    padding-top: -50px;
}

@media (max-width: 768px) {
    .header {
        height: 65px;

    }

    .header-container__logo {
        height: 30px;

    }

    .header-container {
        max-width: 300px;
        justify-content: space-between;
        width: 100%;
        gap: 215px;
        position: relative;
    }

    .header-menu-button {
        border: white 0.5px solid;
        border-radius: 5px;
        width: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 31px;
    }

    .header-nav-menu {
        display: none;
    }

    .nav-menu.active {
        display: block;
        position: absolute;
        top: 80px;
        background: url("../assets/header-mobile-bg.svg") no-repeat center;
        background-size: 100%;
        width: 100%;
        z-index: 99;
        height: 580px;
        margin-top: 80px;
    }

    .header-menu-button__content.active {
        content: url("../assets/close-header-mobile-menu-button.svg");
        width: 14px;
    }

    .header-menu {
        align-items: center;
        flex-direction: column;
    }
}