.second-block {
    display: flex;
    min-height: 600px;
    margin-top: 100px;
}

.second-block-container {
    max-width: 1200px;
    width: 100%;
    background: url("../assets/second-block/second-block-bg.svg") no-repeat;
    margin: 0 auto;
    position: relative;
    display: flex;
    background-position-y: top;
}

.second-block-container-content {
    margin-top: 20px;
    display: flex;
}

.our-vision {
    display: flex;
    width: 100%;
}

.our-vision-image {
    display: flex;
    justify-content: center;
    width: 150px;
    margin-top: 20px;
}

.our-vision-image object {
    height: 350px;

}

.second-block-container-phone {

}

.second-block-container-phone img {
    width: 100%;
}

.our-vision-text {

}

.our-vision-title {
    background: linear-gradient(84.07deg, #A5782B -18.51%, #C99738 4.32%, #F4D362 23.46%, #FCF8B8 58.64%, #E3C56D 88.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Orbitron, sans-serif;
    font-weight: 700;

}

.our-vision-desc {
    font-family: "Proxima Nova", sans-serif;
    width: 502px;
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;

}

@media (max-width: 768px) {
    .second-block-container {
        background: url("../assets/second-block/Vector 147.png") no-repeat ;
        background-size: 100% auto;
        background-position-y: bottom;

        flex-wrap: wrap;
    }

    .our-vision-text {

    }

    .our-vision-title {

    }

    .our-vision-desc {

    }
}
