.second-block {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.second-block-container {
    max-width: 1000px;
    width: 100%;
    background: url("../assets/second-block/second-block-bg.svg") no-repeat;
    height: 496px;
    padding-top: 20px;
}



.our-vision {
    margin-left: 100px;
}

.our-vision-title {
    background: linear-gradient(84.07deg, #A5782B -18.51%, #C99738 4.32%, #F4D362 23.46%, #FCF8B8 58.64%, #E3C56D 88.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Orbitron, sans-serif;
    font-weight: 700;

}

.our-vision-desc {
    max-width: 500px;
    width: 100%;
    font-size: 19px;
}