.second-block {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding-left: 110px;
    padding-right: 110px;
}

.second-block-container {
    max-width: 1400px;
    width: 100%;
    background: url("../assets/second-block/second-block-bg.svg") no-repeat;
    min-height: 600px;
    position: relative;
    display: flex;
    background-position-y: top;
}

.second-block-container-content {
    margin-top: 20px;
    display: flex;
    min-width: 480px;
    column-gap: var(--gutter);
}

.our-vision {
    display: flex;
    width: 100%;
    max-width: 700px;

    /*width: calc((4 * 157 + 3 * 30 / 1840) * 100%);*/
}

.our-vision-image {
    width: 80px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.our-vision-image object {
    width: 100%;
}

.second-block-container-phone {
    display: flex;
    justify-content: center;
    width: 100%;
}

.second-block-container-phone-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-block-container-phone-wrapper img {
    max-height: 700px;
    width: 100%;
    height: auto;
}

.our-vision-text {

}

.our-vision-title {
    background: linear-gradient(84.07deg, #A5782B -18.51%, #C99738 4.32%, #F4D362 23.46%, #FCF8B8 58.64%, #E3C56D 88.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Orbitron, sans-serif;
    font-weight: 700;

}

.our-vision-desc {
    font-size: 19px;
}

@media (max-width: 1024px) {
    .second-block {
        padding-right: 10px;
        padding-left: 10px;
    }

    .second-block-container {
        transform: scale(0.85);
    }
}

@media (max-width: 768px) {
    .second-block-container {
        background: url("../assets/second-block/Vector 147.png") no-repeat ;
        background-size: 100% 100%;
        background-position-y: bottom;
        flex-wrap: wrap;
    }

    .second-block-container-content {
        transform: scale(0.85);
        min-width: auto;
        justify-content: start;
        margin-top: -30px;
    }

    .second-block-container-phone {
        background: url("../assets/second-block/Vector 158.svg") no-repeat center;
        background-size: 85% 85%;
    }

    .our-vision-image {
        padding-left: 0;
        transform: scale(0.7);

    }

    .our-vision-text {

    }

    .our-vision-title {

    }

    .our-vision-desc {

    }
}

@media (max-width: 500px) {

}