body {
    min-height: 100vh;
    margin: 0;
    background: #151515;
    color: #979797;
    font-family: 'proxima-nova', sans-serif;
}



.main {
    height: 100%;

}

a {
    color: inherit;
    text-decoration: none
}